@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/jquery-style")
    @Styles.Render("~/bundles/site-style")
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(document).ready(function () {
            $(".live-tile, .flip-list").not(".exclude").liveTile();
        });
    </script>
</head>
<body class="gradient">
    <div class="site-wrapper">
        <div class="menu-wrapper center">
            <div class="menu-live-tile live-tile blue" data-mode="flip" data-delay="5000" data-speed="300" data-initdelay="2000">
                <div>
                    <span class="tile-title">X-Volt Studios</span>
                </div>
                <div class="live-tile-image">
                    <span class="tile-title">Simon Colmer</span>
                </div>
            </div>
            <div class="menu-links-outer">
                <div class="menu-links-inner">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-wrapper background-fill">
            <div class="content-inner center">
                @RenderBody()
            </div>
        </div>
        <div class="push"></div>
    </div>
    <div class="footer-outer background-fill">
        <div class="footer-inner center">
            X-Volt Studios, Copyright 2013. &copy;
        </div>
    </div>
</body>
</html>
